<h2>mano pictures</h2>
<ul style="list-style-type:none;">

  <li *ngFor="let picture of pictures">
      <div class="card" *ngIf="!picture.fields.isDeleted">
  <img class="card-img-top" [src]="picture.fields.pictureUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{picture.fields.authorUsername}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>


    <button type="button" class="btn btn-danger float-right" (click)="deletePicture(picture.pk)">Delete</button>
<div *ngIf="error && picture.pk == toDeletePictureID" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </div>
</div>
<br>
</li>

</ul>
