  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<div class="jumbotron text-center">
  <h1>Welcome</h1>
  <p>This is picture sharing website build on Django and Angular 8</p>
</div>

<h2>Choose a topic</h2>
  <div *ngFor="let chunkedTopic of chunkedTopics;">
    <br>
    <div class="row">
        <div class="col-sm-4" *ngFor="let topic of chunkedTopic">

    <img [src]="topic.fields.thumbnailURL" class="card-img-top" width="350" height="197">
          <div class="card">
          <div class="card-body">
          <h5 class="card-title">{{topic.fields.name}}</h5>
          <p class="card-text">{{topic.fields.tags}}</p>

          <a [routerLink]="['/pictures']" [state]="{ id:topic.pk }" class="btn btn-primary"> Explore</a>
          </div>
        </div>
    </div>


</div>



